@import "tailwindcss";

:root {
    --primary-clr : #1c1d20;

    --grey-clr: rgb(128, 128, 128);
    --grey-70: rgb( from  var(--grey-clr) r g b / 0.7);
}



@layer base {

  html {
    scrollbar-width: thin; 
    scrollbar-color: var(--grey-70) transparent; 
  }

  *, :before, :after {
      margin: 0;
      padding: 0;
      font-family: "Rubik", sans-serif;
    }
    
    ::selection {
      background: transparent;
    }

    :where(h1, h2, h3, h4, h5, h6) {
      text-wrap: balance;
    }

    img {
      max-width: 100%;
      height: auto;
      font-style: italic;
      color: rgb(255 0 0 / .7);
      vertical-align: middle;
      object-fit: cover;
    }
    a {
      /* color: var(--white-90); */
      text-decoration: none;
      cursor: pointer;
    }








    
html.lenis,
html.lenis body {
  height: auto;
}

.lenis:not(.lenis-autoToggle).lenis-stopped {
  overflow: clip;
}

.lenis [data-lenis-prevent],
.lenis [data-lenis-prevent-wheel],
.lenis [data-lenis-prevent-touch] {
  overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.lenis.lenis-autoToggle {
  transition-property: overflow;
  transition-duration: 1ms;
  transition-behavior: allow-discrete;
}

} 


.flex-center {
  @apply flex justify-center items-center
}

.fieldset {
  @apply flex flex-col gap-2 border-t border-gray-700 pt-5
}




